# See https://help.github.com/articles/ignoring-files/ for more about ignoring files

# Dependency directories
/node_modules/
/.pnp/
.pnp.js

# Testing coverage
/coverage/

# Production build
/build/

# Environment variables (Secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS system files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: VSCode settings (uncomment if needed)
# .vscode/
